* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F5F5F5;
  width: 100%;
}

.full-page {}

.menu-list {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px
}

.menu-bar a {
  text-decoration: none;
  color: #909090;
}

.menu-bar {
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 2px;
  letter-spacing: 0.9px;
}

.home {
  padding-left: 143px;
}

.features {
  padding-left: 41px;
}

.lifestyle {
  padding-left: 40.1px;
  letter-spacing: 0.6px;
}

.travel {
  padding-left: 25px;
  letter-spacing: 1px;
}

.aboutMe {
  padding-left: 26px;
  letter-spacing: 1.1px;
}

.contact {
  padding-left: 26px;
  letter-spacing: 1.1px;
}

.menu-social {
  padding-right: 137px;
  padding-bottom: 4px;
}

.menu-social-link {
  color: #AAAAAA;
}

.search {
  font-size: 14px;
}

.menu-social-link.like {
  padding-right: 35px;
  font-size: 14px;
}

.menu-social-link.instagram {
  padding-right: 8px;
  font-size: 14px;
}

.menu-social-link.youtube {
  padding-right: 5px;
  font-size: 14px;
}

.menu-social-link.google {
  padding-right: 5px;
  font-size: 14px;
}

.menu-social-link.twitter {
  padding-right: 5px;
  font-size: 12px;
}

.menu-social-link.facebook {
  padding-right: 8px;
  font-size: 14px;
}

.page-content {
  display: flex;
  margin: 50px 136px 68px 129px;
  background-color: ##F4F4F4;
}

.main {
  list-style-type: none;
  margin: 0px;
  padding: 0px 32px 0px 0px;
  display: inline-block;
  /* background-color: blue; */
  width: 66.9%;
}

.box {
  background-color: white;
  margin-bottom: 42.5px;
}

.box img {
  width: 100%;
  margin-bottom: 35px;
}

.box-content {
  text-align: center;
}

.link-type {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10.5px;
  text-decoration: none;
  color: #87C3E4;
}

.box h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  margin: 0.6em 0;
}

.box p {
  font-size: 15px;
  line-height: 1.8;
  padding-left: 43px;
  padding-right: 47px;
  text-align: left;
  padding-top: 4px;
  margin-top: 20px;
}

.continue {
  margin-top: 8px;
  padding: 14px 24px;
  background-color: white;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  text-transform: uppercase;
  font-size: 13.4px;
  color: #78CAF1;
  font-weight: lighter;
}

.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
  border-top: solid 1px #EEEEEE;
  padding-bottom: 31px;
}

.box-footer p {
  font-size: 13px;
  font-style: italic;
  color: #3D3D3D;
  font-weight: lighter;
}


.footer-social-link {
  color: #AAAAAA;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #AAAAAA;
  padding: 6px;
}

.footer-social-link.email {
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 48px;

}

.footer-social-link.pinterest {
  padding-right: 8px;
  margin-right: 5px;
}

.footer-social-link.linkedin {
  padding-right: 9px;
  margin-right: 5px;
}

.footer-social-link.google {
  padding-right: 4.5px;
  padding-left: 4.5px;
  margin-right: 6px;
}

.footer-social-link.twitter {
  padding-right: 6.5px;
  padding-left: 6.5px;
  margin-right: 6px;
}

.footer-social-link.facebook {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 6px;
}

.side {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-inline-start: 0px;
  width: 32.05%;
}

.side-box {
  background-color: white;
  width: 100%;
  margin-bottom: 10.4%;
}
.biography img {
  width: 100%;
  margin-bottom: -174px;
}
.biography {
  position: relative;
  text-align: center;
}

img.head-shot {
  width: 80%;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 50%;
  margin-left: 27px;
  margin-right: 30px;
}

.biography h2 {
  margin-top: 190px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}

.biography p {
  font-size: 15px;
  line-height: 1.8;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 21px;
}

.biography-footer {
  display:flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.side-social-link {
  color: #AAAAAA;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #AAAAAA;
  padding: 7px;
}

.side-social-link.instagram {
  padding-right: 9px;
  padding-left: 9px;
  margin-right: 86px;
}

.side-social-link.linkedin {
  padding-right: 10px;
}

.side-social-link.google {
  padding-right: 5.5px;
  padding-left: 5.5px;}

.side-social-link.twitter {
  padding-right: 7.5px;
  padding-left: 7.5px;}

.side-social-link.facebook {
  padding-right: 11px;
  padding-left: 11px;
  margin-left: 86px;
}

.popular-posts {
  text-align: center;
  background-color: white;
}
.popular-posts img {
  width: 100%;
}

.popular-posts h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 25px;
  padding-top: 37px;
}

.pp-box {
  margin-right: 31px;
  margin-left: 31px;
  margin-bottom: 26px
}

.pp-box1 h3 {
  padding-top: 5px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: uppercase;

}
.pp-box2 h3 {
  padding-top: 7px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: uppercase;

}

.pp-box3 h3 {
  padding-top: 7px;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1px;
  text-transform: uppercase;

}

.pp-box p {
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #AAAAAA;
  border-bottom: solid 1px #EEEEEE;
  padding-bottom: 26px;
}
